@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
	--background-color: #63a0fd;
	--font-color: white;
	--block-color: #de421c;
	--logo-color: #ffc8c6;
}

body,
#root {
	margin: 0;
	padding: 0;
	overflow: hidden;
	box-sizing: border-box;
	height: 100vh;
	height: 100svh;
	width: 100vw;
	/* background-color: var(--background-color); */
	background-color: none;
	font-family: "Press Start 2P", system-ui;
	font-weight: 400;
	font-style: normal;
	color: var(--font-color);
}
* {
	margin: 0;
	padding: 0;
}
canvas {
	margin: 0;
	padding: 0;
	height: 100vh;
	height: 100svh;
	width: 100vw;
	display: block;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
